<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>修改密码</title>
</head>

<body>
<div id="bg_box">
  <h2>修改密码</h2>
  <form class="form-horizontal " role="form"  action="/changepassword" method="post"  >
    <div class="input_box">
      <input type="text" name="Nickname" placeholder="请输入用户名">
    </div>
    <div class="input_box">
      <input type="password" name="PasswordOld" placeholder="请输入旧密码">
    </div>
    <div class="input_box">
      <input type="password" name="Password" placeholder="请输入新密码">
    </div>
    <div class="input_box">
      <input type="password" name="newpasswordagain" placeholder="再次请输入新密码">
    </div>
    <button>确认</button><br>
  </form>
  <h5>${ .tips }</h5>
  <a href="//127.0.0.1:8000">返回主页</a>
</div>
</body>
</html>